<!-- <p>Welcome the date and time is <%= Time.now %></p> -->

<div class="row frontfeature">
  <div class="col-md-6 feature1"><%= image_tag("62H.png", class: "img-responsive") %></div>
  <div class="col-md-6 feature2"><h2 class="featurette">Hello.</h2><p class="lead">For over 25 years Bike Berlin has been known as the premier location to buy, sell, and trade bicycles. Come in today and browse our selection, and speak to our knowlegeble staff.</p></div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Buy New and Used</h2>
    <p>Browse our inventory or order from our vast catalog for rapid delivery. All bikes are tuned and tested prior to sale.</p>
    <p><%= link_to "New Trade Ins »", products_path, class:"btn btn-default" %></p>
  </div>
  <div class="col-md-4">
    <h2>Sell and Trade</h2>
    <p>Walk in with your bike, walk out with cash!</p>
    <p><%= link_to "Call us for an estimate »", static_pages_contact_path, class:"btn btn-default" %></p>
 </div>
  <div class="col-md-4">
    <h2>Repairs and Tune Ups</h2>
    <p>Complete tune up or services a la carte.</p>
    <p><%= link_to "Services offered »", static_pages_about_path, class:"btn btn-default" %></p>
  </div>
</div>
