<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>


<div class="row">
  <div class="col-xs-6 col-md-3">
    <p>
      <strong>Model:</strong>
      <%= @product.name %>
    </p>
  </div>

  <div class="col-xs-6 col-md-3">
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
  </div>

  <div class="col-xs-6 col-md-3">
    <p>
      <strong>Price:</strong>
      $<%= @product.price %>
    </p>
  </div>
  <div class="col-xs-6 col-md-3">
    <p>
      <strong>Colour:</strong>
      <%= @product.colour %>
    </p>
  </div>

</div>

<p>
  <%= image_tag(@product.image_url, class: "img-responsive img-zoom" data_zoom_image:@product.image_url) %>
</p>

<p>
  <%= form_tag "/payments/create" do %>
      <%= render partial: "shared/stripe_checkout_button" %>
      <%= hidden_field_tag(:product_id, @product.id) %>
  <% end %>
</p>
<p class="avg-rate">Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
<br>

<%= render "new_comment" %>

<%= render "comments" %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= will_paginate @comments %>
